/* Debug */

[class*="col-"] {
    min-height: 100px;
    /* line-height: 100px; */
    /* background-color: yellowgreen; */
    /* border: 2px solid black; */
}

/* /Debug */

/* Common */

body {
    text-align: center;
}

.wrapper_60 {
    width: 60%;
    margin: 0 auto;
}

h2,
h3 {
    text-transform: uppercase;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
    color: white;
}

.hd-ft-color {
    background-color: #3a546d;
}

/* Navbar */

header {
    height: 80px;
    line-height: 80px;
    background-color: #3a546d;
}

.ms_navbar .navbar-toggle {
    padding: 9px 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    background-color: transparent;
}

.ms_navbar .navbar-toggle .icon-bar {
    background-color: white;
    width: 25px;
    height: 3px;
} 

.ms_navbar .navbar-brand {
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    line-height: 50px;
}

.ms_navbar .navbar-nav > li > a {
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 45px;
}

/* Jumbotron */

#jumbo_tron p {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    padding: 15px 0;
}

#jumbo_tron img {
    height: 260px;
}

#jumbo_tron {
    padding: 30px 0;
    background-color: #1abc9b;
}

.my_star_white i {
    color: white;
    font-size: 35px;
}

.my_star_white:before,
.my_star_white:after {
    width: 10%;
    height: 4px;
    content: '';
    display: inline-block;
    background-color: white;
    border-radius: 3px;
    margin: 10px 10px;
}

.my_star_black:before,
.my_star_black:after {
    width: 10%;
    height: 4px;
    content: '';
    display: inline-block;
    margin: 10px 10px;
    background-color: black;
    border-radius: 3px;
}
.my_star_black > i {
    font-size: 35px;
}
/* Portfolio */

#portfolio {
    background-color: #FFFFFF;
    color: #2C3E50;
    margin: 40px 0;
}
.portfolio_item {
    height: 250px;
    border-radius: 10px;
    margin: 15px 0;
}

.portfolio_item img {
    height: 100%;
    border-radius: 20px;
}

#portfolio h2 {
    font-size: 35px;
}

/* About */

#about {
    background-color: #1abc9b;
}

#about h2 {
    font-size: 35px;
    color: white;
}

#about p {
    padding: 15px 0;
    color:white;
    font-size: 18px;
    text-align: left;
}

.download_btn .btn {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 20px;
    text-transform: capitalize;
}

.download_btn .btn-primary {
    color: white;
    background-color: transparent;
    border-color: white;
    margin-bottom: 30px;
}

.download_btn i {
    padding: 5px;
    font-size: 20px;
}

/* Contact me! */

.ms-form .form-control {
    font-size: 25px;
    color: black;
    padding: 30px 12px;
    border: 0;
    border-bottom: 1px solid black;
    box-shadow: none;

}

.ms-form .form-control#message {
    border: 0;
}

.send {
    text-align: left;
    margin-top: 100px;
    border-top: 1px solid black;
}

.send .btn {
    padding: 10px 15px;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 20px;
    text-transform: capitalize;
    border-radius: 5px;
}

.send .btn-primary {
    color: white;
    background-color:#1abc9b ;
    border-color: white;
    margin-bottom: 50px;
}


/* Footer */

#footer_top {
    background-color: #3a546d;
}

#footer_top h3,
p {
    color: white;
}

#footer_top p {
    font-size: 20px;
}

.list_inline {
   list-style: none;
   margin-right: 10px;
}

.list_inline li {
    display: inline-block;
    padding: 0 10px;
    
}

.list_inline li i {
    padding: 10px;
    font-size: 15px;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
}

#footer_top span {
    color: #1abc9c;
    text-transform: capitalize;
  }

#footer_bottom {
    background-color: #2d3f4f;
    height: 100px;
    line-height: 100px;
}

#footer_bottom p {
    font-size: 16px;
}